[data-aos] {
  transition-property: opacity, transform;
}

[data-aos][data-aos].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

[data-aos][data-aos].aos-animate,
body[data-aos][data-aos][data-aos-duration] {
  transition-duration: var(--duration);
}

[data-aos][data-aos].aos-animate,
body[data-aos][data-aos][data-aos-delay] {
  transition-delay: var(--delay);
}

/* Fade animations */
[data-aos=fade],
[data-aos=fade-up],
[data-aos=fade-down],
[data-aos=fade-right],
[data-aos=fade-left],
[data-aos=fade-up-right],
[data-aos=fade-up-left],
[data-aos=fade-down-right],
[data-aos=fade-down-left] {
  opacity: 0;
}

[data-aos=fade].aos-animate,
[data-aos=fade-up].aos-animate,
[data-aos=fade-down].aos-animate,
[data-aos=fade-right].aos-animate,
[data-aos=fade-left].aos-animate,
[data-aos=fade-up-right].aos-animate,
[data-aos=fade-up-left].aos-animate,
[data-aos=fade-down-right].aos-animate,
[data-aos=fade-down-left].aos-animate {
  opacity: 1;
}

[data-aos=fade-up] {
  transform: translate3d(0, 100px, 0);
}

[data-aos=fade-down] {
  transform: translate3d(0, -100px, 0);
}

[data-aos=fade-right] {
  transform: translate3d(-100px, 0, 0);
}

[data-aos=fade-left] {
  transform: translate3d(100px, 0, 0);
}

[data-aos=fade-up-right] {
  transform: translate3d(-100px, 100px, 0);
}

[data-aos=fade-up-left] {
  transform: translate3d(100px, 100px, 0);
}

[data-aos=fade-down-right] {
  transform: translate3d(-100px, -100px, 0);
}

[data-aos=fade-down-left] {
  transform: translate3d(100px, -100px, 0);
}

/* Zoom animations */
[data-aos=zoom],
[data-aos=zoom-in],
[data-aos=zoom-in-up],
[data-aos=zoom-in-down],
[data-aos=zoom-in-right],
[data-aos=zoom-in-left],
[data-aos=zoom-out],
[data-aos=zoom-out-up],
[data-aos=zoom-out-down],
[data-aos=zoom-out-right],
[data-aos=zoom-out-left] {
  opacity: 0;
  transform: scale(0);
}

[data-aos=zoom].aos-animate,
[data-aos=zoom-in].aos-animate,
[data-aos=zoom-in-up].aos-animate,
[data-aos=zoom-in-down].aos-animate,
[data-aos=zoom-in-right].aos-animate,
[data-aos=zoom-in-left].aos-animate,
[data-aos=zoom-out].aos-animate,
[data-aos=zoom-out-up].aos-animate,
[data-aos=zoom-out-down].aos-animate,
[data-aos=zoom-out-right].aos-animate,
[data-aos=zoom-out-left].aos-animate {
  opacity: 1;
  transform: translateZ(0) scale(1);
}

[data-aos=zoom-in] {
  transform: scale(0.6);
}

[data-aos=zoom-in-up] {
  transform: translate3d(0, 100px, 0) scale(0.6);
}

[data-aos=zoom-in-down] {
  transform: translate3d(0, -100px, 0) scale(0.6);
}

[data-aos=zoom-in-right] {
  transform: translate3d(-100px, 0, 0) scale(0.6);
}

[data-aos=zoom-in-left] {
  transform: translate3d(100px, 0, 0) scale(0.6);
}

[data-aos=zoom-out] {
  transform: scale(1.2);
}

[data-aos=zoom-out-up] {
  transform: translate3d(0, 100px, 0) scale(1.2);
}

[data-aos=zoom-out-down] {
  transform: translate3d(0, -100px, 0) scale(1.2);
}

[data-aos=zoom-out-right] {
  transform: translate3d(-100px, 0, 0) scale(1.2);
}

[data-aos=zoom-out-left] {
  transform: translate3d(100px, 0, 0) scale(1.2);
}

/* Slide animations */
[data-aos=slide],
[data-aos=slide-up],
[data-aos=slide-down],
[data-aos=slide-right],
[data-aos=slide-left] {
  transform: translateZ(0);
}

[data-aos=slide].aos-animate,
[data-aos=slide-up].aos-animate,
[data-aos=slide-down].aos-animate,
[data-aos=slide-right].aos-animate,
[data-aos=slide-left].aos-animate {
  transform: translateZ(0);
}

[data-aos=slide-up] {
  transform: translate3d(0, 100%, 0);
}

[data-aos=slide-down] {
  transform: translate3d(0, -100%, 0);
}

[data-aos=slide-right] {
  transform: translate3d(-100%, 0, 0);
}

[data-aos=slide-left] {
  transform: translate3d(100%, 0, 0);
}

/* Flip animations */
[data-aos=flip],
[data-aos=flip-left],
[data-aos=flip-right],
[data-aos=flip-up],
[data-aos=flip-down] {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

[data-aos=flip-left].aos-animate {
  transform: perspective(2500px) rotateY(0);
}

[data-aos=flip-left] {
  transform: perspective(2500px) rotateY(-100deg);
}

[data-aos=flip-right].aos-animate {
  transform: perspective(2500px) rotateY(0);
}

[data-aos=flip-right] {
  transform: perspective(2500px) rotateY(100deg);
}

[data-aos=flip-up].aos-animate {
  transform: perspective(2500px) rotateX(0);
}

[data-aos=flip-up] {
  transform: perspective(2500px) rotateX(-100deg);
}

[data-aos=flip-down].aos-animate {
  transform: perspective(2500px) rotateX(0);
}

[data-aos=flip-down] {
  transform: perspective(2500px) rotateX(100deg);
}
